<!DOCTYPE html>
<html>
<head>
	<title>FAQ</title>
</head>
<body>
	<font size="4" > 
		<p>1->  Q:  What is the time duration for game ?
			<br>
			A: 30 Minutes
		</p>
		<p>
			2->  Q:  How many players are allowed to play NTH ? 
			<br>
			A:	Max. 2 players are allowed.  
		</p>
		<p>3->   Q:  Who is the Winner of NTH ?
			<br>
			A:   One who will reach to highest level, will be the winner 
		</p>
		<p>
			4->  Q:  How to unlock next level ?
			<br>
				A: By entering the right answer into the provided box you will reach to the next level.
		</p>
			<p>
			5->  Q:  Is there any hint provided to guess the answer ?
			<br>
			     A:	 Yes, by clicking the hint button you will get the hint.
			</p>
	</font>
</body>
</html>